*
.pyc
!.gitignore
!.github
!.github/*
!.github/workflows
!.github/workflows/*
!custom_components/dummy_integration
!custom_components/dummy_integration/*
!custom_components/dummy_integration/translations
!custom_components/dummy_integration/translations/*
!custom_components/dummy_integration/coordinators
!custom_components/dummy_integration/coordinators/*
!custom_components/
!docs
!docs/*
!docs/assets
!docs/assets/*
!README.md
!hacs.json